site_name: Razon - The Free Knowledge Repository
site_url: https://projectrazon.github.io/Razon/
site_description: A free, open-source knowledge repository for self-studying anything - mathematics, physics, computer science, languages and more.

repo_url: https://github.com/ProjectRazon/Razon
repo_name: Razon

copyright: Copyright &copy; 2026 <a href="https://github.com/ProjectRazon">Project Razon</a>. All rights reserved.

docs_dir: vault

markdown_extensions:
  - nl2br
  - admonition
  - tables
  - def_list
  - sane_lists
  - toc:
      permalink: "#"
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

plugins:
  - search
  - callouts
  - tags
  - rss:
      match_path: ".*"
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        collapse_whitespace: true
        remove_comments: true
  - git-revision-date-localized:
      type: date
      fallback_to_build_date: true
      enable_creation_date: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@4.0.0/tex-mml-chtml.js

theme:
  name: material
  custom_dir: overrides
  palette: 
    - scheme: slate
      primary: custom
      accent: custom

extra_css:
  - assets/stylesheets/extra.css

validation:
  links:
    not_found: ignore 
    absolute_links: ignore
