
.md-header__button.md-logo {
    display: none;
}

.md-sidebar--primary .md-logo {
    display: none;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #151519;
  --md-primary-bg-color: #0eb57e;

  --md-accent-fg-color: #0eb57e;

  --md-default-bg-color: #202024;
  --md-default-fg-color--light: #0eb57e;
  --md-default-fg-color--dark: #0eb57e;

}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  color: #ebebec;
}

.md-typeset a {
  color: #0eb57e;
  text-decoration: none;
}

.md-typeset a:hover {
  color: #0eb57e;
  text-decoration: underline;
}

.md-nav--primary .md-nav__title {
    font-size: 1.2rem;
}

.md-nav--secondary .md-nav__title {
    font-size: 0.8rem;
}

.md-nav__item--active > .md-nav__link {
    color: #0eb57e;
}

.md-nav--secondary .md-nav__item:has(~ .md-nav__item .md-nav__link--active) > .md-nav__link {
    color: #777777;
}

.md-nav--secondary .md-nav__link--active {
    color: #bec0c5;
}

/* Admonitions */

:root {
  --md-admonition-icon-definition: url("data:image/svg+xml; utf8, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22lucide%20lucide-scroll-text%22%3E%3Cpath%20d=%22M15%2012h-5%22/%3E%3Cpath%20d=%22M15%208h-5%22/%3E%3Cpath%20d=%22M19%2017V5a2%202%200%200%200-2-2H4%22/%3E%3Cpath%20d=%22M8%2021h12a2%202%200%200%200%202-2v-1a1%201%200%200%200-1-1H11a1%201%200%200%200-1%201v1a2%202%200%201%201-4%200V5a2%202%200%201%200-4%200v2a1%201%200%200%200%201%201h3%22/%3E%3C/svg%3E");
  --md-admonition-icon-intuition: url("data:image/svg+xml; utf8, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22lucide%20lucide-lightbulb%22%3E%3Cpath%20d=%22M15%2014c.2-1%20.7-1.7%201.5-2.5%201-.9%201.5-2.2%201.5-3.5A6%206%200%200%200%206%208c0%201%20.2%202.2%201.5%203.5.7.7%201.3%201.5%201.5%202.5%22/%3E%3Cpath%20d=%22M9%2018h6%22/%3E%3Cpath%20d=%22M10%2022h4%22/%3E%3C/svg%3E");
  --md-admonition-icon-notation: url("data:image/svg+xml; utf8, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22lucide%20lucide-pen-tool%22%3E%3Cpath%20d=%22M15.707%2021.293a1%201%200%200%201-1.414%200l-1.586-1.586a1%201%200%200%201%200-1.414l5.586-5.586a1%201%200%200%201%201.414%200l1.586%201.586a1%201%200%200%201%200%201.414z%22/%3E%3Cpath%20d=%22m18%2013-1.375-6.874a1%201%200%200%200-.746-.776L3.235%202.028a1%201%200%200%200-1.207%201.207L5.35%2015.879a1%201%200%200%200%20.776.746L13%2018%22/%3E%3Cpath%20d=%22m2.3%202.3%207.286%207.286%22/%3E%3Ccircle%20cx=%2211%22%20cy=%2211%22%20r=%222%22/%3E%3C/svg%3E");
  --md-admonition-icon-algorithm: url("data:image/svg+xml; utf8, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22lucide%20lucide-route%22%3E%3Ccircle%20cx=%226%22%20cy=%2219%22%20r=%223%22/%3E%3Cpath%20d=%22M9%2019h8.5a3.5%203.5%200%200%200%200-7h-11a3.5%203.5%200%200%201%200-7H15%22/%3E%3Ccircle%20cx=%2218%22%20cy=%225%22%20r=%223%22/%3E%3C/svg%3E");
  --md-admonition-icon-axiom: url("data:image/svg+xml; utf8, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22lucide%20lucide-pill%22%3E%3Cpath%20d=%22m10.5%2020.5%2010-10a4.95%204.95%200%201%200-7-7l-10%2010a4.95%204.95%200%201%200%207%207Z%22/%3E%3Cpath%20d=%22m8.5%208.5%207%207%22/%3E%3C/svg%3E");
  --md-admonition-icon-theorem: url("data:image/svg+xml; utf8, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22lucide%20lucide-type%22%3E%3Cpolyline%20points=%224%207%204%204%2020%204%2020%207%22/%3E%3Cline%20x1=%229%22%20x2=%2215%22%20y1=%2220%22%20y2=%2220%22/%3E%3Cline%20x1=%2212%22%20x2=%2212%22%20y1=%224%22%20y2=%2220%22/%3E%3C/svg%3E");
  --md-admonition-icon-proof: url("data:image/svg+xml; utf8, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22lucide%20lucide-check-check%22%3E%3Cpath%20d=%22M18%206%207%2017l-5-5%22/%3E%3Cpath%20d=%22m22%2010-7.5%207.5L13%2016%22/%3E%3C/svg%3E");
  --md-admonition-icon-example: url("data:image/svg+xml; utf8, %3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22lucide%20lucide-flask-conical-icon%20lucide-flask-conical%22%3E%3Cpath%20d=%22M14%202v6a2%202%200%200%200%20.245.96l5.51%2010.08A2%202%200%200%201%2018%2022H6a2%202%200%200%201-1.755-2.96l5.51-10.08A2%202%200%200%200%2010%208V2%22/%3E%3Cpath%20d=%22M6.453%2015h11.094%22/%3E%3Cpath%20d=%22M8.5%202h7%22/%3E%3C/svg%3E");
}

.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color: #dc3147;
  background-color: #dc314710;
}

.md-typeset .definition>.admonition-title,
.md-typeset .definition>summary {
  background-color: #dc314710;
  border-color: #dc3147;
  color: #dc3147;
}

.md-typeset .definition>.admonition-title::before,
.md-typeset .definition>summary::before {
  background-color: #dc3147;
  -webkit-mask-image: var(--md-admonition-icon-definition);
  mask-image: var(--md-admonition-icon-definition);
}

.md-typeset .admonition.intuition,
.md-typeset details.intuition {
  border-color: #FFFF00;
  background-color: #FFFF0010;
}

.md-typeset .intuition>.admonition-title,
.md-typeset .intuition>summary {
  background-color: #FFFF0010;
  border-color: #FFFF00;
  color: #FFFF00;
}

.md-typeset .intuition>.admonition-title::before,
.md-typeset .intuition>summary::before {
  background-color: #FFFF00;
  -webkit-mask-image: var(--md-admonition-icon-intuition);
  mask-image: var(--md-admonition-icon-intuition);
}

.md-typeset .admonition.notation,
.md-typeset details.notation {
  border-color: #448aff;
  background-color: #448aff10;
}

.md-typeset .notation>.admonition-title,
.md-typeset .notation>summary {
  background-color: #448aff10;
  border-color: #448aff;
  color: #448aff;
}

.md-typeset .notation>.admonition-title::before,
.md-typeset .notation>summary::before {
  background-color: #448aff;
  -webkit-mask-image: var(--md-admonition-icon-notation);
  mask-image: var(--md-admonition-icon-notation);
}

.md-typeset .admonition.algorithm,
.md-typeset details.algorithm {
  border-color: #086DDD;
  background-color: #086DDD10;
}

.md-typeset .algorithm>.admonition-title,
.md-typeset .algorithm>summary {
  background-color: #086DDD10;
  border-color: #086DDD;
  color: #086DDD;
}

.md-typeset .algorithm>.admonition-title::before,
.md-typeset .algorithm>summary::before {
  background-color: #086DDD;
  -webkit-mask-image: var(--md-admonition-icon-algorithm);
  mask-image: var(--md-admonition-icon-algorithm);
}

.md-typeset .admonition.axiom,
.md-typeset details.axiom {
  border-color: #FC03CA;
  background-color: #FC03CA10;
}

.md-typeset .axiom>.admonition-title,
.md-typeset .axiom>summary {
  background-color: #FC03CA10;
  border-color: #FC03CA;
  color: #FC03CA;
}

.md-typeset .axiom>.admonition-title::before,
.md-typeset .axiom>summary::before {
  background-color: #FC03CA;
  -webkit-mask-image: var(--md-admonition-icon-axiom);
  mask-image: var(--md-admonition-icon-axiom);
}

.md-typeset .admonition.theorem,
.md-typeset details.theorem {
  border-color: #00BFBC;
  background-color: #00BFBC10;
}

.md-typeset .theorem>.admonition-title,
.md-typeset .theorem>summary {
  background-color: #00BFBC10;
  border-color: #00BFBC;
  color: #00BFBC;
}

.md-typeset .theorem>.admonition-title::before,
.md-typeset .theorem>summary::before {
  background-color: #00BFBC;
  -webkit-mask-image: var(--md-admonition-icon-theorem);
  mask-image: var(--md-admonition-icon-theorem);
}

.md-typeset .admonition.proof,
.md-typeset details.proof {
  border-color: #0FD45D;
  background-color: #0FD45D10;
}

.md-typeset .proof>.admonition-title,
.md-typeset .proof>summary {
  background-color: #0FD45D10;
  border-color: #0FD45D;
  color: #0FD45D;
}

.md-typeset .proof>.admonition-title::before,
.md-typeset .proof>summary::before {
  background-color: #0FD45D;
  -webkit-mask-image: var(--md-admonition-icon-proof);
  mask-image: var(--md-admonition-icon-proof);
}

.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: #7c4dff;
  background-color: #7c4dff10;
}

.md-typeset .example>.admonition-title,
.md-typeset .example>summary {
  background-color: #7c4dff10;
  border-color: #7c4dff;
  color: #7c4dff;
}

.md-typeset .example>.admonition-title::before,
.md-typeset .example>summary::before {
  background-color: #7c4dff;
  -webkit-mask-image: var(--md-admonition-icon-example);
  mask-image: var(--md-admonition-icon-example);
}

.md-typeset .admonition.note,
.md-typeset details.note {
  border-color: #448aff;
  background-color: #448aff10;
}

.md-typeset .note>.admonition-title,
.md-typeset .note>summary {
  background-color: #448aff10;
  border-color: #448aff;
  color: #448aff;
}

.md-typeset .note>.admonition-title::before,
.md-typeset .note>summary::before {
  background-color: #448aff;
}

.md-typeset .admonition.warning,
.md-typeset details.warning {
  border-color: #db8942;
  background-color: #db894210;
}

.md-typeset .warning>.admonition-title,
.md-typeset .warning>summary {
  background-color: #db894210;
  border-color: #db8942;
  color: #db8942;
}

.md-typeset .warning>.admonition-title::before,
.md-typeset .warning>summary::before {
  background-color: #db8942;
}

.md-typeset .admonition.tip,
.md-typeset details.tip {
  border-color: #00bfa5;
  background-color: #00bfa510;
}

.md-typeset .tip>.admonition-title,
.md-typeset .tip>summary {
  background-color: #00bfa510;
  border-color: #00bfa5;
  color: #00bfa5;
}

.md-typeset .tip>.admonition-title::before,
.md-typeset .tip>summary::before {
  background-color: #00bfa5;
}

.md-typeset .admonition.important,
.md-typeset details.important {
  border-color: #00bfa5;
  background-color: #00bfa510;
}

.md-typeset .important>.admonition-title,
.md-typeset .important>summary {
  background-color: #00bfa510;
  border-color: #00bfa5;
  color: #00bfa5;
}

.md-typeset .important>.admonition-title::before,
.md-typeset .important>summary::before {
  background-color: #00bfa5;
}